* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.screensaver {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 301;
    top: 0%;
    left: 0%;
    background-color: #000000;
    background-image: url(sloradiobel.svg);
    opacity: 0;
    z-index: -5;
    background-repeat: no-repeat;
    transition: all .5s;
  
    animation: mymove 40s infinite;
  }

  .radio{margin-right: 30px; padding-bottom: 130px;}
  @keyframes mymove {
    0% {
      background-position: center;
    }
    16% {
      background-position: left top;
    }
    32% {
      background-position: right top;
    }
    48% {
      background-position: center;
    }
    64% {
      background-position: right bottom;
    }
    80% {
      background-position: left bottom;
    }
    96% {
      background-position: center;
    }
    100% {
      background-position: center;
    }
  }
  .safari {
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 11;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    background-color: transparent;
    border-width: 0px;
  }
  .nott {
    display: none;
  }
  #bodys.hhd {
    opacity: -5;
    top: 800px;
    transition: all 0.2s;
  }
  radio {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
  }
  
  .back {
    margin-top: 10px;
    margin-left: 10px;
    background-image: url("back.svg");
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    z-index: 300;
    background-color: transparent;
    border-width: 0;
    background-repeat: no-repeat;
    background-size: 130px 130px;
    transition: all 0.5s;
  }
  .back:active {
    transform: rotate(220deg);
  }
  a {
    position: relative;
    padding: 20px;
    color: transparent;
    margin: 30px;
  }
  .radioano {
    width: 100%;

  }
  
  @media (orientation: landscape) {
    img.radioan {
      overflow-y: hidden;
      overflow: hidden;
        will-change: contents;
      top: 50%;
      transform: translateY(-50%);
      width: 40%;
      z-index: 10;
      margin-left: 10px;
      position: fixed;
      transition: 0.2s;
    }
  }
  .loader{
width:100%;
height: 330px;
z-index: 0;
position: fixed;
top: 0%;
left: 0%;
border-radius: 100px;

}
@keyframes rotatse {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}

}
img.ggg{height: 220px;
    animation-name: rotatse;
animation-duration: .8s;
animation-iteration-count: infinite;
   display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
  .animated{  animation: radiom .2s forwards; }
  @keyframes radiom {
    0% {opacity: 1 !important; transform: scale(1)!important;}
100% {opacity: 0 !important; transform: scale(.8)!important;}
  
  }

  .animated2{ animation: radwiom .2s forwards;}
  @keyframes radwiom {
  
    0% {opacity: 0 !important;  transform: scale(.8)!important;}
    100% {opacity: 1 !important; transform: scale(1)!important;}
  }
  @media (orientation: portrait) {
    img.radioan {
      overflow:hidden;
   
             
             position: fixed;
             left: 0%;
             right: 0%;
             box-shadow: 10px 10px 9px #57b3ff;
             top: 0%;
            
             height: 600px;
             z-index: 50;
             background-color: #57b3ff;
            
             transition: 0.4s;
             padding-bottom: 50px;
      transition: all 0.2s;
    }
   .toper {
      overflow: hidden;
    
      will-change: contents;
      position: fixed;
      left: 0%;
      right: 40%;
     padding-top: 30px;
      top: -2px;
      width: 100%;
      height: 330px;
      z-index: 10;
  
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(10px);
      transition: all 0.2s;
    }
    
  }
  @media (prefers-color-scheme: light) {
    img.radioan{
    background-color: #57b3ff;
    box-shadow: 10px 10px 9px #57b3ff;
    }
    .toper{
      background-color: #57b3ff;
      box-shadow: 10px 10px 9px #57b3ff;
      }
    body {
        background-color: #57b3ff;
    }
    .radii {
        background-color: #57b3ff;
    }
    .radii{     border-color: black;}
    span{color:black;}
    p{color:black;}
    html{text-shadow: 2px 2px 30px #000000;}
    .bottom{
        
        width: 100%;
        height:130px;
        background-color: #57b3ff;
        position: fixed;
        bottom: -1px;
        color: #000000;
          }
          .radioano{ background-color: #57b3ff }
          .loader{background-color:#57b3ff;}
          .header1{width: 100%; height: 30px; position: fixed; top:0;background-color:#57b3ff;}
}
@media (prefers-color-scheme: dark) {
  .radioano{ background-color: #071636 }
    img.radioan{
    background-color: #071636;
    box-shadow: 10px 10px 9px #071636;
    }
  .toper{
      background-color: #071636;
      box-shadow: 10px 10px 9px #071636;
      }
    body {
        background-color: #071636;
    }
 .radii {
        background-color: #071636;
    }
    p{color:white;}
    span{color:white;}
    .radii{     border-color: white;}
    html{text-shadow: 2px 2px 30px #14398f;}
    .bottom{
     
        width: 100%;
        height:130px;
        background-color: #071636;
        position: fixed;
        bottom: -1px;
        color: #ffffff;
          }
          .loader{background-color:#071636;}
          .header1{width: 100%; height: 60px; position: fixed; top:-58px;background-color:#071636;}
}



  .top {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: #57b3ff;
    z-index: 2;
    display: none;
  }
  .radii{background-color: rgba(0, 0, 0, .1);}
  .darko {
    box-shadow: 10px 10px 9px #14398f !important;
    background-color: #14398f !important;
    color: white !important;
  }
  
  @media (orientation: landscape) {
    .radii {
      right: -50%;
      border-style: solid;
      border-width: 10px;
      will-change: scroll-position;
      border-radius: 60px;
      height: 25%;
      width: 50%;
      margin-right: 20px;
      padding-bottom: -5px;
      display: block;
      margin-bottom: 15px;
      position: relative;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      top: -600px;
    }
  }
  
  @media (orientation: portrait) {
    .radii {
      margin: auto;
      border-style: solid;
      border-width: 10px;
      will-change: scroll-position;
      border-radius: 60px;
      height: 40%;
      width: 75%;
      -webkit-transition: all 0.2s;
      padding-bottom: -5px;
      display: block;
      margin-bottom: 15px;
      position: relative;
      transition: all 0.2s;
    }
  }
  .muted{
   opacity: .4;
  }

  .butt{width: 30%;
    left:10%;
    height:100px;
    background-color: #ffffff;
    position: relative;
    bottom: -10%;
    opacity: .7;
    backdrop-filter: blur(2px);
    border-radius: 60px;
    font-size: 60px;
    transition: all .2s;
    -webkit-transition: all .2s;
    border-width: 0;

}
.rig{ right:10% !important;   left:25%; }
.butt:active{scale: .90;}
  .hide{display: none;}
  img:not(.radioan ):not(.ggg) {
    margin-left: -51px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 0;
    max-height: 60%;
    margin-bottom: -7px;
    margin-top: -1px;
  }
  
  .radii span {
    -webkit-text-size-adjust:none;


    font-size: 80px;
   
    position: absolute;
    bottom: 100%;
    left: 100%;
  }
  
  .radii:active {
    transform: scale(0.95);
  }
  

  .bodyd {
    background: #112230 !important;
  }
  a {
    -webkit-tap-highlight-color: transparent;
  }
  p {
    transition: all 0.8;
  }
  @media (orientation: portrait) {
    p {
      transition: all 0.4;
      background-color: transparent;
      text-align: center;
      font-size: 100px;
      margin-top: 0;
    }
  }
  @media (orientation: landscape) {
    p {
      transition: all 0.4;
   background-color: transparent;
      text-align: center;
      font-size: 90px;
      margin-top: 0;
      position: fixed;
      left: 13%;
      bottom: -10%;
    }
  }
  
  body {
    transition: all 0.4;
    overflow-x: hidden;
  }
  
  html {
    font-family: "M PLUS Rounded 1c", sans-serif;
    
    -webkit-tap-highlight-color: transparent;
  }
img.radioan{ -webkit-animation: bubble .40s forwards; 
  animation: bubble2 .48s forwards;}
  .bodys {
    position: relative;
    top: 600px;
    opacity: 1;
    transition: all 0.2s;
    -webkit-animation: bubble .40s forwards; 
        animation: bubble .48s forwards;
  }
  @keyframes bubble {
   
       0%{ top: 600px;
        opacity: 0;}
        50%{ top: 600px;
          opacity: 0;}
        100%{ top: 750px;
            opacity: 1;}
  }
  @keyframes bubble2 {
   
    0%{ 
     opacity: 0;}
     50%{ top: 600px;
       opacity: 0;}
     100%{
         opacity: 1;}
}

  .zvok {
    display: none;
  }
  .showw {
    display: block;
  }
  .screen {
    opacity: 1;
    transition: all .5s;
    z-index: 301;
  }
  #centersi {
    scale: 5;
    margin: 0 auto;
    display: block;
    background-color: #ee2c49;
    position: relative;
    color: black;
    border-radius: 30px;
    border-width: 0;
  }
  
