.screensaver {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 301;
    top: 0%;
    left: 0%;
    background-color: #000000;
    background-image: url(sloradiobel.svg);
    opacity: 0;
    z-index: -5;
    background-repeat: no-repeat;
    transition: all 5s;
  
    animation: mymove 40s infinite;
  }
  @keyframes mymove {
    0% {
      background-position: center;
    }
    16% {
      background-position: left top;
    }
    32% {
      background-position: right top;
    }
    48% {
      background-position: center;
    }
    64% {
      background-position: right bottom;
    }
    80% {
      background-position: left bottom;
    }
    96% {
      background-position: center;
    }
    100% {
      background-position: center;
    }
  }
  .safari {
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 11;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    background-color: transparent;
    border-width: 0px;
  }
  .nott {
    display: none;
  }
  #bodys.hhd {
    opacity: -5;
    top: 800px;
    transition: all 0.2s;
  }
  radio {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
  }
  
  .back {
    margin-top: 10px;
    margin-left: 10px;
    background-image: url("back.svg");
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    z-index: 300;
    background-color: transparent;
    border-width: 0;
    background-repeat: no-repeat;
    background-size: 130px 130px;
    transition: all 0.5s;
  }
  .back:active {
    transform: rotate(220deg);
  }
  a {
    position: relative;
    padding: 20px;
    color: transparent;
    margin: 30px;
  }
  .radioano {
    width: 100%;

  }
  
  @media (orientation: landscape) {
    img.radioan {
      overflow: hidden;
  
      top: 50%;
      transform: translateY(-50%);
      width: 40%;
      z-index: 5;
      margin-left: 10px;
      position: fixed;
      transition: 0.4s;
    }
  }
  
  @media (orientation: portrait) {
    img.radioan {
      overflow: hidden;
      
     
      position: fixed;
      left: 0%;
      right: 40%;
     
      top: -1px;
      width: 100%;
      height: 700px;
      z-index: 5;
  
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(10px);
      transition: all 0.4s;
    }
  }
  @media (prefers-color-scheme: light) {
    img.radioan{
    background-color: #57b3ff;
    box-shadow: 10px 10px 9px #57b3ff;
    }
    body {
        background-color: #57b3ff;
    }
    .radii{     border-color: black;}
    span{color:black;}
    p{color:black;}
    html{text-shadow: 2px 2px 30px #000000;}
}
@media (prefers-color-scheme: dark) {
    img.radioan{
    background-color: #071636;
    box-shadow: 10px 10px 9px #071636;
    }
    body {
        background-color: #071636;
    }
    p{color:white;}
    span{color:white;}
    .radii{     border-color: white;}
    html{text-shadow: 2px 2px 30px #14398f;}
}



  .top {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: #57b3ff;
    z-index: 2;
    display: none;
  }
  .darko {
    box-shadow: 10px 10px 9px #112230 !important;
    background-color: #112230 !important;
    color: white !important;
  }
  
  @media (orientation: landscape) {
    .radii {
      right: -50%;
      border-style: solid;
      border-width: 10px;
  
      border-radius: 60px;
      height: 25%;
      width: 50%;
      margin-right: 20px;
      padding-bottom: -5px;
      display: block;
      margin-bottom: 10px;
      position: relative;
      transition: all 0.5s;
    }
  }
  
  @media (orientation: portrait) {
    .radii {
      margin: auto;
      border-style: solid;
      border-width: 10px;
 
      border-radius: 60px;
      height: 40%;
      width: 75%;
  
      padding-bottom: -5px;
      display: block;
      margin-bottom: 10px;
      position: relative;
      transition: all 0.5s;
    }
  }
  
  img:not(.radioan) {
    margin-left: -51px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 0;
    max-height: 60%;
    margin-bottom: -7px;
    margin-top: -1px;
  }
  
  .radii span {
    -webkit-text-size-adjust: none;
  

    font-size: 80px;
  
    position: absolute;
    bottom: 100%;
    left: 100%;
  }
  
  .radii:active {
    transform: scale(0.95);
  }
  
  body {
  }
  .bodyd {
    background: #112230 !important;
  }
  a {
    -webkit-tap-highlight-color: transparent;
  }
  p {
    transition: all 0.8;
  }
  @media (orientation: portrait) {
    p {
      transition: all 0.4;
      background-color: transparent;
      text-align: center;
      font-size: 100px;
      margin-top: 0;
    }
  }
  @media (orientation: landscape) {
    p {
      transition: all 0.4;
   background-color: transparent;
      text-align: center;
      font-size: 90px;
      margin-top: 0;
      position: fixed;
      left: 13%;
      bottom: -10%;
    }
  }
  
  body {
    transition: all 0.4;
    overflow-x: hidden;
  }
  
  html {
    font-family: "M PLUS Rounded 1c", sans-serif;
    
    -webkit-tap-highlight-color: transparent;
  }
  
  .bodys {
    position: relative;
    top: 600px;
    opacity: 0;
  
    transition: all 0.2s;
  }
  
  body.loaded .bodys {
    top: 750px;
    opacity: 1;
  }
  .zvok {
    display: none;
  }
  .showw {
    opacity: 1;
  }
  .screen {
    opacity: 1;
    transition: all 1s;
    z-index: 301;
  }
  #centersi {
    scale: 5;
    margin: 0 auto;
    display: block;
    background-color: #ee2c49;
    position: relative;
    color: black;
    border-radius: 30px;
    border-width: 0;
  }
  